
@{
    ViewBag.Title = "Return";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-8 row pl-3">
                    <div class="flex-column">
                        <h1 class="mr-3">Product Returns</h1>
                    </div>
                    <div class="flex-column">
                        <ol class="breadcrumb float-sm-left ml-0">
                            <li class="breadcrumb-item"><a href=@Url.Action("Dashboard","Admin_Dashboard")>Home</a></li>
                            <li class="breadcrumb-item active">Product Returns</li>
                        </ol>
                    </div>
                </div><!-- /.col -->
                <div class="col-sm-4">
                    <button type="button" class="btn btn-danger float-sm-right mr-1" data-toggle="tooltip"
                            data-placement="top" title="Delete">
                        <i class="fa fa-trash"></i>
                    </button>
                                     
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Returns List</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <table class="table table-bordered" id="returns_Table">
                                <thead>
                                    <tr>
                                        <th style="width: 3%"><input type="checkbox"></th>
                                        <th style="width: 10%">Return ID</th>
                                        <th style="width: 10%">Order ID</th>
                                        <th style="width: 30%">Customers</th>
                                        <th style="width: 12%">Product</th>
                                        <th style="width: 13%">Status</th>
                                        <th style="width: 15%">Date Added</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#">«</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">»</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

</div>
<!-- /.content-wrapper -->
